<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/MarkusXpertek/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="MarkusXpertek" />
      <add key="ClearTextPassword" value="86e47ed74148afc6cb4155173f9eb51c4a4d168d" />
    </github>
  </packageSourceCredentials>
</configuration>