<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/MarkusXpertek/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="MarkusXpertek" />
      <add key="ClearTextPassword" value="a76aba9f94f823b9a42a9b69da48234d509c9c50" />
    </github>
  </packageSourceCredentials>
</configuration>